<!doctype html>
<html lang="en">

<head>
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/app.css" />
</head>

<body class="height100 flex flex1">
	<script src="lib/react.production.min.js"></script>
	<script src="lib/react-dom.production.min.js"></script>
	<script src="index.js" type="module"></script>
	<!-- in case ES6 modules aren't supported -->
	<script src="bundle.js" defer nomodule></script>
</body>

</html>