@import './global.css';

header{
    height: 3rem;
    flex-shrink: 0;
}

header svg {
    fill: #fff;
}

.content{
    flex-shrink: 0;
}

.content > div:first-child{
    height: 15rem;
    flex-shrink: 0;
}

.content > div:last-child{
    justify-content: center;
    margin-left: -3rem;
}

.range {
    width: 3.75rem;
}

.freq{
    border: 1px solid #653a90;
    background: #e6d0fd;
    margin: 0 0.75rem;
    width: 1rem;
    position: relative;
    box-sizing: border-box;
}

.freq .knob{
    width:2rem;
    height:2rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin: -0.5rem 0 -0.5rem -0.5rem; 
    background: #653a90;
}

.freq .knob:focus, .freq .knob:hover, .freq .knob:active{
    box-shadow: 0 0 0.5rem #653a90;
}

.freq-label{
    width: 1rem;
    margin: 0 0.75rem;
}

.preset {
    border: 2px solid #653a90;
}

.preset label{
    background: #653a90;
    color: white;
    padding: 0.5rem 1rem;
}

.preset button{
    background: #fff;
}

.preset button.active, .preset button:hover, .preset button:active, .preset button:focus{
    background: #e6d0fd;
}

footer{
    background: #653a90;;
    text-align: center;
    font-size: 0.7rem;
    color: #fff;
}