@import './normalize.css';

.talignc, .center {
	text-align: center;
}

.width100 {
	width: 100%;
}

.w100vw {
	width: 100vw;
}

.height100 {
	height: 100%;
}

.visibilityh {
	visibility: hidden;
}

.hide {
	display: none !important;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.flex {
	display: flex;
}

.flex1 {
	flex: 1 1 auto;
}

.flexr {
	flex-direction: row;
}

.flexc {
	flex-direction: column;
}

.alignc {
	align-items: center;
}

.alignsc {
	align-self: center;
}

.justc {
	justify-content: center;
}

.justsb {
	justify-content: space-between;
}

.justsa {
	justify-content: space-around;
}

.justfe {
	justify-content: flex-end;
}

.flexs0{
	flex-shrink: 0;
}

.flexwrap {
	flex-wrap: wrap;
}

.overflow-auto{
	overflow: auto;
}

.overflow-yauto{
	overflow-y: auto;
}

.overflow-h{
	overflow: hidden;
}

/* COLORS */
.white{ color: #fff;}
.bg-white{ background-color: #fff;}
.grey{color: #acacac;}
.bg-grey{background-color: #acacac;}
.yellow{ color: #fef200; }
.bg-yellow { background-color: rgba(254, 242, 0, 1)}
.purple1{ color: #653a90;}
.bg-purple1 {background-color: #653a90;}
.purple2 { color: #842c56;}
.bg-purple2 {background-color: #842c56;}
.green { color: #30744d;}
.bg-green {background-color: #30744d;}
.black{color: #000;}

.pointer {
	cursor: pointer;
}
.underline{
	text-decoration: underline;
}

.fw-thin, .thin { font-weight: 100;}
.fw-bold, .bold { font-weight: 700;}

/* Font Sizes */
.fs-0-75r {
	font-size: 0.75rem;
}

.fs-1r {
	font-size: 1rem;
}

.fs-1-5r {
	font-size: 1.5rem;
}

.fs-2r {
	font-size: 2rem;
}

.pad0{
	padding: 0;
}
.pad1r {
	padding: 1rem;
}

.padt1r{
	padding-top: 1rem;
}

.padr1r{
	padding-right: 1rem;
}

.padb1r{
	padding-bottom: 1rem;
}

.padl1r{
	padding-left: 1rem;
}

.padt0-5r {
	padding-top: 0.5rem;
}

.padr0-5r {
	padding-right: 0.5rem;
}

.padb0-5r {
	padding-bottom: 0.5rem;
}

.padl0-5r {
	padding-left: 0.5rem;
}

.pad0-5r {
	padding: 0.5rem;
}

.mar0{
	margin: 0;
}
.mar1r {
	margin: 1rem;
}

.mart1r{
	margin-top: 1rem;
}

.marr1r{
	margin-right: 1rem;
}

.marb1r{
	margin-bottom: 1rem;
}

.marl1r{
	margin-left: 1rem;
}

.mart0-5r {
	margin-top: 0.5rem;
}

.marr0-5r {
	margin-right: 0.5rem;
}

.marb0-5r {
	margin-bottom: 0.5rem;
}

.marl0-5r {
	margin-left: 0.5rem;
}

.mar0-5r {
	margin: 0.5rem;
}

.bottom1r {
	bottom: 1rem;
}

.top1r {
	top: 1rem;
}

.border-box {
	box-sizing: border-box;
}